.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #eeeeee;
}

.ui {
  background-color: #E4D8B4;
  z-index: 9;
  position: absolute;
  left: 10%;
  bottom: 10%;
  width: 60%;
  height: 300px;

  outline-style: solid;
  outline-color: black;
  outline: thick;

  border-top: 6px black solid;
  border-bottom: 6px black solid;

  
}

.ui-header {
  border-bottom: 5px black solid;
  float: left;
  background-color: #E4D8B4;
  width: 100%;

  font-size: 40px;

}



.ui-button {
  /*border: 5px solid black; 
  background-color: white;
  margin-top: 10px;
  margin-right: 10px;

  box-shadow: inset -4px -4px 0px 0px brown;*/

  background: white;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    
    text-decoration: none; 
    color: black;
    
    box-shadow: inset -4px -4px 0px 0px gray;

    margin-top: 15px;
    margin-left: 5px;

}

.close-button {
  float: right;
  margin-top: 0px;
    margin-right: 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
